.new-expense__controls {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;

  width: 20rem;
  max-width: 100%;
}

.new-book__actions button {
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0290ff;
  border: none;
  color: #fff;
}

*:focus {
  outline: none;
}

h2 {
  text-align: center;
}
